html{
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #ffffff;
}
body{
    margin:0rem
}
#bg-video{
    position: absolute;
    top:0;
    left:0;
    max-width:120vw;

    z-index:-1;
}
@media (max-width:768px){
    #bg-video {
        display: none;
    }
    body {
        background: rgb(128,76,209);
        background: linear-gradient(196deg, rgba(128,76,209,1) 0%, rgba(58,40,120,1) 39%, rgba(16,5,61,1) 78%);
    }
}
#formCont{
    position: relative;
    color:white;
    margin:auto;
    margin-top:2rem;
    background-color: rgba(0, 0, 0, 0.531);
    width: 30rem;
    padding: 1rem 2rem;
    border-radius:30px;
    transition: transform 2s, box-shadow 2s, background-color 2s;
}
#formCont:hover{
    background-color: rgba(0, 0, 0, 0.806);
    box-shadow:0px 0px 30px 5px #ffffff1c;
    transform: scale(1.1); 
}
input{
    border-radius: 10px;
    border: NONE;
    margin-top: 10px;
}
footer{
    margin: 5rem 0rem 0rem 0rem;
    padding:2rem 0rem ;
    color:white;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.531);
}
#shrink{
    max-width:25rem;
}
.flex{
    display:flex;
    justify-content: space-evenly;
}
label{
    display:block;
}
#form{
    margin-top: 2rem;
}
.form{
    margin-bottom: 0.8rem;
}
.logIn{
    background-color: transparent;
    border: none;
    color: #ffffff;
    border-radius:30px;
    padding: 0.5rem 2rem;
    background-color:#934fe72e;
    transition: background-color 1s;
}
.logIn:hover{
    background-color:#934FE7;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 2rem;
}
#home-link{
    margin-top:2rem
}
.absolute{
    position:absolute;
    top:-1.5rem;
    left:-1.5rem;
}
/* log in pop up */
#overlay{
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);     background-color: rgba(0, 0, 0, 0.593);
}
#menuLog{
    position: relative;
    min-width: 200px;
    min-height:250px;
    border: solid 3px white;
    background-color:black;
    color: white;
    border-radius:30px;
}
#menuLog > img {
    position:absolute;
    top: 0;
    left:40%;
    z-index:+3;
}
.menuContent{
    margin-top:1rem
}
.hidden{
    background-color: #8c9eac;
    margin: 15% auto; 
    padding-top: 5rem;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.44);
    width: 300px; 
    height: 200px; 
    overflow: auto;
}
.animate {
    animation: animatezoom 0.6s
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#salva{
    display:none;
}